@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.team-area .item {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.team-area .info {
    padding: 15px 8px 8px;
    box-shadow: 0 0 6px #cccccc;
    background: #ffffff;
    position: relative;
}

.team-area .info h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #f30521;
    text-transform: uppercase;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.team-area .info span.position {
    font-size: 17px;
    font-weight: 600;
    color: #272626;
    text-transform: capitalize;
    display: block;
    margin-top: 4px;
}

.team-area .info .message {
    height: 40px;
    line-height: 40px;
    width: 40px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 6px #cccccc;
}

.team-area .info .message a {
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: #ff5a6e;
}

.team-area .item .thumb {
    position: relative;
    overflow: hidden;
}

.team-area .item .thumb img {
    transition: all 0.35s ease-in-out;
    height: auto;
    width: 100%;
}

.team-area .item .thumb .overlay {
    top: -100%;
    left: 0;
    padding: 12px;
    position: absolute;
    text-align: center;
    transition: all 0.35s ease-in-out;
    width: 100%;
    z-index: 1;
}

.team-area .item:hover .thumb .overlay {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.team-area .item .thumb .social li a {
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    width: 30px;
}

@media (max-width: 576px) {
    .team .team-area .item {
        width: 50%;
    }

    .team-area .info h4 {
        font-size: 16px;
    }

    .team-area .info span.position {
        font-size: 14px;
    }

    .team-area .info .message {
        height: 35px;
        width: 35px;
    }

    .team-area .info .message a {
        height: 35px;
        width: 35px;
        font-size: 14px;
    }

    .team-area .item .thumb .social li a {
        height: 25px;
        line-height: 25px;
        width: 25px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .team-area .item {
        width: 80%;
    }

    .team-area .info h4 {
        font-size: 18px;
    }

    .team-area .info span.position {
        font-size: 15px;
    }

    .team-area .info .message {
        height: 38px;
        width: 38px;
    }

    .team-area .info .message a {
        font-size: 15px;
    }

    .team-area .item .thumb .social li a {
        height: 28px;
        line-height: 28px;
        width: 28px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .team-area .item {
        width: 75%;
    }

    .team-area .info h4 {
        font-size: 19px;
    }

    .team-area .info span.position {
        font-size: 16px;
    }

    .team-area .info .message {
        height: 40px;
        width: 40px;
    }

    .team-area .info .message a {
        font-size: 16px;
    }

    .team-area .item .thumb .social li a {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }
}
