.events-section {
  width: 100%;
  height: 120vh;
  position: relative;
}
.insomnia {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 25%;
  transform: rotate(15deg);
  z-index: 2;
  animation: shrink 2.4s linear infinite;
}
@keyframes shrink {
  0%,
  100% {
    transform: scale(0.6) rotate(12deg);
  }
  50% {
    transform: scale(0.8) rotate(15deg);
  }
}
@keyframes pshrink {
  0%,
  100% {
    transform: scale(0.6) rotate(-12deg);
  }
  50% {
    transform: scale(0.8) rotate(-15deg);
  }
}
@keyframes key {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.exhibition {
  position: absolute;
  top: 63%;
  left: 12%;
  width: 27%;
  /* background-color: transparent; */
  /* transform: rotate(5deg); */
  z-index: 2;
  animation: shrink 2.4s linear infinite;
}
.competition {
  position: absolute;
  top: 41%;
  left: 72%;
  width: 20%;
  transform: rotate(-15deg);
  z-index: 2;
  animation: pshrink 2.4s linear infinite;
}
.lecture {
  position: absolute;
  top: 68%;
  left: 56%;
  width: 23%;
  /* transform: rotate(-15deg); */
  z-index: 2;
  animation: pshrink 2.4s linear infinite;
  /* background-color: transparent; */
}
.workshop {
  position: absolute;
  top: 13%;
  left: 48.9%;
  width: 28%;
  transform: rotate(-15deg);
  z-index: 2;
  animation: pshrink 2.4s linear infinite;
}
.event_header {
  /* border: solid 1px; */
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  font-family: DM Sans;
  left: 45%;
}
.event_summary {
  font-family: DM Sans;
  text-align: center;
  position: absolute;
  /* border: solid 1px; */
  width: 30%;
  font-size: 21px;
  font-weight: 600;
  top: 53%;
  left: 34%;
}
.highlights {
  /* border: solid 1px; */
  width: 30%;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 23px;
  position: relative;
  left: 36%;
  top: 100%;
  color: white;
}
@media (max-width: 1024px) {
  .events-section {
    height: 100vh;
    /* padding: 20px; */
  }
  .insomnia,
  .exhibition,
  .competition,
  .lecture,
  .workshop {
    width: 28%; /* Make images smaller for smaller screens */
  }
  .insomnia {
    top: 20%;
  }
  .event_summary,
  .highlights {
    width: 20%;
    font-size: 12px;
  }
  .event_summary {
    top: 46%;
    left: 30%;
    width: 40%;
  }
  .event_header {
    font-size: 29px;
    left: 42%;
  }
}
@media (max-width: 768px) {
  .insomnia,
  .exhibition,
  .competition,
  .lecture,
  .workshop {
    width: 28%;
     /* Make images smaller for smaller screens */
  }
  // .event_button{
  //   top: 600%;
  // }
  .insomnia {
    top: 21%;
    left: 4%;
    width: 35%;
  }
  .exhibition{
    left: 12%;
    top: 61%;
    width: 35%;
  }
  .lecture{
    left: 55%;
    top: 60%;
    width: 35%;
  }
  .competition{
    left: 70%;
  }
  .workshop{
    width: 35%;
  }
  .event_summary,
  .highlights{
    width: 44%;
    font-size: 17px;
  }
  .highlights{
    margin-top: 20%;
    position: relative;
    /* right: 0%; */
    /* width: 100%; */
    color: aliceblue;
    font-size: 20px;
    width: 80%;
    left: 13%; 
    // margin-left: %;
  }
  .event_summary {
    top: 45%;
    left: 30%;
  }
  .event_header {
    font-size: 33px;
    left: 40%;
  }
}

@media (max-width: 468px) {
  .events-section {
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .event_header {
    /* position: relative; */
    left: 60%;
    font-size: 22px;
    left: 37%;
  }
  .insomnia,
  .exhibition,
  .competition,
  .lecture,
  .workshop {
    // width: 18%;
    /* top: 10%; */
    /* left: auto; */
    transform: none;
    /* animation: none; */
    /* left: 10%; */
  }
  .insomnia {
    top: 18%;
    width: 32%;
    left: 4%;
  }
  .workshop {
    width: 36%;
    top: 11%;
    left: 48%;
  }
  .exhibition {
    width: 32%;
    top: 63%;
    left: 13%;
  }
  .competition {
    width: 27%;
    top: 41%;
    left: 74%;
  }
  .lecture {
    width: 36%;
    top: 60%;
    left: 54%;
  }
  .event_summary,
  .highlights {
    width: 90%;
  }
  .event_summary {
    width: 48%;
    left: 28%;
    top: 43%;
    font-size: 10px;
  }
  p.highlights {
    font-size: 11px;
    display: flex;
    position: relative;
    top: 93%;
    left: 16%;
  }
  
}
