@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
:root {
  --font: Aoboshi One;
}
.navbar_main {
  width: 100%;
  border: solid 1px;
  height: 10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(130, 128, 128);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 92%;
}
.navbar_1 {
  width: 33%;
  height: 100%;
//   border: solid 1px;
}
.logo {
  width: 9%;
  margin-left: 6%;
  padding: 3px;
}
.logo_img {
  width: 87%;
  position: relative;
  bottom: 3%;
}
.navbar_2 {
  width: 33%;
  // border: solid 1px;
  height: 100%;
}
.navbar_3 {
  // border: solid 1px;
//   height: 110%;
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2.5%;
  align-items: center;
}
.event_1 {
  border: solid 1px black;
  width: 15%;
  height: 70%;
  margin-right: 2%;
  border-radius: 8px;
  background-color: #ff682f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aoboshi One";
  color: white;
  box-shadow: 3px 3px 1px #752204;
}
.team_1 {
  color: white;
  font-family: "Aoboshi One";
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  border: solid 1px black;
  width: 15%;
  height: 70%;
  background-color: #ff682f;
  box-shadow: 3px 3px 1px #752204;
}
.journey_1 {
  color: white;
  font-family: "Aoboshi One";
  background-color: #ff682f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid 1px black;
  width: 15%;
  height: 70%;
  box-shadow: 3px 3px 1px #752204;
}
@media (max-width: 1224px) {
  .navbar_main {
    height: 1%;
    justify-content: space-around;
  }
  .logo {
    width: auto;
    // height: auto;
    // border: solid 1px;
  }
  .event_1,
  .team_1,
  .journey_1 {
    width: 20%;
  }
  .navbar_3 {
    // height: 195%;
    width: 34%;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    padding-right: 2%;
    // align-items: center;
  }
  .logo {
    width: 18%;
    margin-left: 5%;
    width: 16%;
  }
  .logo_img {
    width: 85%;
    position: relative;
    bottom: 3%;
  }
  .event_1 {
    // border:solid 1px black;
    width: 22%;
    height: 80%;
    margin-right: 3%;
    // border-radius: 8px;
    // background-color: #FF682F;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-family: 'Aoboshi One';
    // color: white;
    // box-shadow: 3px 3px 1px #752204;
  }
  .navbar_3 {
      width: 40%;
      margin-top: 5px;
      height: 95px;
    display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
  }
  .team_1 {
    // color: white;
    // font-family: 'Aoboshi One';
    // border-radius: 8px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-right: 3%;
    // border:solid 1px black;
    width: 22%;
    height: 80%;
    // background-color: #FF682F;
    // box-shadow: 3px 3px 1px #752204;
  }
  .journey_1 {
    // color: white;
    // font-family: 'Aoboshi One';
    // background-color: #FF682F;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border-radius: 8px;
    // border:solid 1px black;
    width: 22%;
    height: 80%;
    // box-shadow: 3px 3px 1px #752204;
  }
}
@media (max-width: 790px) {
  .navbar_main {
    flex-direction: row;
    height: 5%;
    bottom: 22%;
  }
  .logo {
    width: 35%;
    margin-left: 0%;
    margin-top: 6%;
  }
  .event_1,
  .team_1,
  .journey_1 {
    width: 40%;
    margin-left: 3%;
  }
  .navbar_2 {
    width: 10%;
    height: 100%;
  }
  .navbar_3 {
    width: 40%;
  }
  .event_1,
  .journey_1,
  .team_1 {
    width: 45%;
    font-size: 14px;
    height: 70%;
  }
}

@media (max-width: 500px) {
  .navbar_main {
    flex-direction: row;
    // height: 5%;
  }
  .navbar_main {
    width: 100%;
    border: solid 1px;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(130, 128, 128);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 19.8%;
    // height: 100px;
  }
  .logo {
    // width: 25%;
    margin-left: 10%;
    margin-top: 0.3%;
  }
  .event_1,
  .team_1,
  .journey_1 {
    width: 40%;
    margin-left: 3%;
  }
  .navbar_2 {
    width: 10%;
    height: 100%;
  }
  .navbar_3 {
    width: 40%;
    height: 70%;
    padding-right: 4%;
  }
  .event_1,
  .journey_1,
  .team_1 {
    width: 45%;
    font-size: 8px;
    height: 70%;
  }
}
@media (max-width: 400px) {
    .navbar_main {
      flex-direction: row;
      height: 30px;
    }
    .navbar_main {
      width: 100%;
      border: solid 1px;
    //   height: 10%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: white;
      box-shadow: 1px 1px 10px rgb(130, 128, 128);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      bottom: 19.8%;
      // height: 100px;
    }
    .logo{

      width: 20%;
    //   margin-left: 10%;
    //   margin-top: 13%;
    }
    .event_1,
    .team_1,
    .journey_1 {
      width: 40%;
      margin-left: 3%;
    }
    .navbar_2 {
      width: 10%;
      height: 90%;
    }
    .navbar_3 {
      width: 40%;
    //   height: 100%;
      padding-right: 4%;
      margin-top: 3px;
    }
    
    .event_1,
    .journey_1,
    .team_1 {
      width: 55%;
      font-size: 8px;
      height: 90%;
    }
  }
  